    html{
        height:100%;
    }
    body{height:100%;margin:0px;padding:0px}
    #container{height:100%}
    /* 搜索开始 */
    .search {
         position: fixed;
         top: 0.1rem;
         /* background: red; */
         width:10rem;
         text-align: center;
     }
       /* 搜索框 */
     .search .icon_search {
         position: absolute;
         right: 1rem;
         bottom:0rem;
         width: 0.6667rem;
         height: 1.0667rem;
         background-image: url("./images/search (1).png");
         background-size: 0.4rem;
         background-repeat:no-repeat;
         background-position:center;
         padding: 0 0.2667rem;
     }
     .search .search_input {
         font-size: 0.32rem;
         box-sizing: content-box;
         width:80%;
         height:1.0667rem;
         border:none;
         outline: none;
         box-shadow:0.0267rem 0.0267rem 0.1333rem #616161;
         border-radius: 0.1333rem;
         padding-left:0.27rem;
     }
     /* 搜索end */
     /* 下方展示内容*/
     .detail{
         position:fixed;
         bottom: 0px;
         background: white;
         width: 92%;
         height:2.5rem;
         border-radius: 0.2rem;
         text-align: left;
         padding-left:8%;
     }

     .detail .storeName{
         position: relative;
         width:100% ;
         height:1rem;
         padding-top: 0.5rem;
        
     }
     .detail .storeName .title {
         font-size: 0.4267rem;
         font-weight: bold;
     }
     .detail .storeName .distance{
         font-size: 0.32rem;
         font-weight:normal;
         color: #333333;
     }
     .detail .storeName .phone img{
         position: absolute;
         top: 0.5067rem;
         right: 2.6667rem;
         width: 0.7rem;
     }
     .detail .storeName .map{
        position: absolute;
        top: 0.5067rem;
        right: 1.3333rem;
     }
     .detail .storeName .map img{
         width: 0.7rem;
         height: 0.7rem;
     }
     .detail .location {
         /* position: relative; */
     }
     .amap-zoomcontrol {
       display:none;
     }
     .amap-logo {
       display: none !important;
     }
     .amap-copyright{
      display: none !important;
     }
     /* 展现end */
     /* 终点小图标隐藏 */
     .amap-lib-marker-to{
         display: none;
     }
    /* 终点小图标隐藏 end */