html {
    height:100%
}
body {
    height:100%;
    margin:0;
    padding:0
}
#container {
    height:100%
}
#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: transparent;
    display: none;
}
#mask_button{
    position: absolute;z-index: 1000000;
    bottom: 50%;
    width: 100%;
    text-align: center
}
/* #mask_button{
    position: absolute;
    left: 50%;
    margin-left:-2.6667rem;
    bottom: 50%;
    width: 5.3333rem;
    height: auto;
    border-radius: 0.2667rem;
    background:rgb(245, 241, 241);
    z-index: 1000000;
    overflow: hidden;
    box-shadow: 0.1333rem 0.2667rem 0.8rem rgba(0,0,0,0.25) ;
    display: none;
    text-align: center;
    border: none;
} */
#mask_button .mask_content {
    padding:0.2667rem 0.5333rem;
    border:none;
    outline: none;
    border-radius: 0.2667rem;
    background: #888888;
    color: #fff;
}
.mask_content p{
    padding-bottom: 0.08rem;
}
.search  {
    position: fixed;
    top:0.2667rem;
    width: 100%;
    text-align: center;
}
.search .icon_search {
box-sizing: border-box;
   position: absolute;
   right: 0.8rem;
   bottom:-0.0427rem;
   width: 1rem;
   height:1rem;
   background-image: url("./images/search (1).png");
   background-size: 0.4267rem;
   background-repeat:no-repeat;
   background-position:center;
}

.search .search_input {
  box-sizing: border-box;
  width:85%;
  height:0.9rem;
  font-size: 0.2901rem;
  margin-top: 0.64rem;
  border:none;
  outline: none;
  box-shadow:0.0267rem 0.0267rem 0.1333rem #616161;
  border-radius: 0.16rem;
  padding-left:0.4rem;
}
.detail {
    box-sizing: border-box;
    position:fixed;
    bottom:0;
    background:white;
    width:100%;
    height:2.5rem;
    border-radius:.1rem;
    text-align:left;
    padding-left:8%
}
.detail .storeName {
    position:relative;
    width:100%;
    height:1.1rem;
    padding-top:.5rem
}
.detail .storeName .title {
    display:block;
    font-size:0.4rem;
    font-weight:bold;
}
.detail .location {
    font-size:0.3rem;
    font-weight:normal;
    margin-top: -0.1333rem;
    color:#333
}
.detail a {
    display:block;
    font-size:0rem;
    background: red;
}
.detail img {
    width:0.7rem;
    position: absolute;
    top: 0.48rem;
}
.detail .phone img {
    right : 2.1333rem;
}
.detail .map img {
    right : 0.9rem;
}
/* .detail .storeName .phone img {
    position:absolute;
    top:.5067rem;
    right:2.1rem;
    width:.8rem
}
.detail .storeName .map {
    position:absolute;
    top:.5067rem;
    right:1.3333rem
}
.detail .storeName .map img {
    position:absolute;
    margin-left: -0.2133rem;
    width:.8rem;
} */

/* 处理高德地图自带图标*/
.amap-zoomcontrol {
    display:none
}
.amap-logo {
    display:none !important
}
.amap-copyright {
    display:none !important
}
.amap-lib-marker-to {
    display:none
}
.auto-item {
    box-sizing: border-box;
    padding-left:0.4rem; 
}
